<div class="card events-card">
  <header class="card-header">
    <p class="card-header-title">
      {{translations.users}}
    </p>
  </header>
  <div class="card-table">
    <div class="content">
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <td width="5%"></td>
            <th>{{translations.name}}</th>
            <th>Email</th>
            <th>Admin</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td width="5%"></td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
              <label class="switch">
                <input type="checkbox" [(ngModel)]="user.admin" (ngModelChange)="changed(user)">
                <span class="slider round"></span>
              </label>
            </td>
            <td>
              <a class="button is-small is-danger is-outlined" (click)="deleted(user)">
                <span>{{translations.del}}</span>
                <span class="icon is-small">
                  <i class="fas fa-times"></i>
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
