<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-white">{{translations.signup}}</h3>
        <p class="subtitle has-text-white">{{translations.proceed}}</p>
        <div class="box">
          <form [formGroup]="registrationForm" (ngSubmit)="doRegister()">
            <div class="form-group field">
              <div class="control has-icons-left">
                <input
                  [disabled]="loading"
                  class="input"
                  placeholder="{{translations.your_name}}"
                  name="name"
                  formControlName="name">

                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <p class="help is-danger" *ngIf="registrationForm.controls.name.errors?.required && registrationForm.controls.name.touched"> Name is required </p>
            </div>

            <div class="form-group field">
              <div class="control has-icons-left">
                <input
                  [disabled]="loading"
                  class="input"
                  email="true"
                  placeholder="{{translations.your_email}}"
                  name="email"
                  formControlName="email">

                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
              </div>
              <p class="help is-danger" *ngIf="registrationForm.controls.email.errors?.required && registrationForm.controls.email.touched"> Email is required_email </p>
            </div>

            <div [formGroup]="passwordForm">
              <div class="form-group field">
                <div class="control has-icons-left">
                  <input
                    [disabled]="loading"
                    class="input"
                    type="password"
                    placeholder="Your password"
                    name="password"
                    formControlName="password">

                  <span class="icon is-small is-left">
                    <!-- <fa-icon [icon]="['fas', 'lock']" size="sm"></fa-icon> -->
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <p class="help is-danger" *ngIf="passwordForm.controls.password.errors?.required && passwordForm.controls.password.touched"> Password is required</p>
              </div>

              <div class="form-group field">
                <div class="control has-icons-left">
                  <input
                    [disabled]="loading"
                    class="input"
                    type="password"
                    placeholder="Confirm your password"
                    name="confirmPassword"
                    formControlName="confirmPassword">

                  <span class="icon is-small is-left">
                    <!-- <fa-icon [icon]="['fas', 'lock']" size="sm"></fa-icon> -->
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <p class="help is-danger" *ngIf="passwordForm.controls.confirmPassword.errors?.required && passwordForm.controls.confirmPassword.touched">
                  {{translations.required_confirm}}
                </p>
                <p class="help is-danger" *ngIf="passwordForm.errors?.doesMatchPassword">{{translations.pws_not_match}}</p>
              </div>

            </div>

            <div class="field">
              <p class="control">
              </p>
            </div>

            <button
              type="submit"
              [ngClass]="{'button is-block is-info is-fullwidth': true, 'is-loading': loading}"
              [disabled]="!registrationForm.valid || loading">
              {{translations.signup}}
            </button>
          </form>
        </div>

        <p class="has-text-white">
          <a href="login"><- {{translations.back}}</a>
        </p>

      </div>
    </div>
  </div>
</section>
