<!-- START NAV -->
<div class="columns">
  <div class="column is-2">
    <ui-sidebar [items]="items" (onSelect)="selectMenu($event)"></ui-sidebar>
  </div>

  <div class="column is-10">
    <ui-title>
      <span class="ui-titled"> {{this.translations.hello}}, {{name}}</span>
      <span class="ui-subtitled"> {{this.translations.greetings}} </span>
    </ui-title>

    <div *ngIf="selected == 0">
      <app-admin-home
        [users]="users">
      </app-admin-home>
    </div>

    <div *ngIf="selected == 1">
      <app-admin-custumers
        [users]="users"
        (onEdit)="userChanged($event)"
        (onDelete)="userDeleted($event)"
      >
      </app-admin-custumers>
    </div>
    
    <div *ngIf="selected == 2">
      <app-notification></app-notification>
    </div>

    <div *ngIf="selected == 3">
      <app-report [users]="users"></app-report>
    </div>
  </div>
</div>
