<div class="card">
  <div class="tabs">
    <ul>
      <li [ngClass]="{'is-active': useLattes == false }">
        <a (click)="setUseLattes(false)">{{translations.manually}}</a>
      </li>
      <li [ngClass]="{'is-active': useLattes}">
        <a (click)="setUseLattes(true)">{{translations.use_lattes}}</a>
      </li>
    </ul>
  </div>

  <header class="card-header">
    <p class="card-header-title">
      {{translations.add_doc}}
    </p>
  </header>


  <div class="card-content" *ngIf="useLattes == false">
    <div class="file is-primary has-name" style="margin-bottom: 10px">
      <label class="file-label">
        <input class="file-input" type="file" accept="application/pdf"
                ng2FileSelect [uploader]="uploader" multiple>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            {{translations.choose}}
          </span>
        </span>
      </label>
    </div>

    <div class="content" *ngFor="let form of fileForms">
      <hr>

      <div class="field is-grouped columns">
        <div class="field control column is-4">
          <input class="input is-medium" type="text"
                  [(ngModel)]="form.name"
                  placeholder="{{translations.doc_name}}">

        </div>
        <div class="field control column is-8">
          <input class="input is-medium" type="text"
                  [(ngModel)]="form.keywords"
                  placeholder="{{translations.sugg_sep}}">

        </div>
      </div>

      <table class="table is-fullwidth">
          <thead>
          <tr>
            <th width="50%">{{translations.name}}</th>
            <th>{{translations.size}}</th>
            <th>{{translations.progress}}</th>
            <th>{{translations.lang}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><strong>{{ form.item?.file?.name }}</strong></td>
            <td *ngIf="uploader.options.isHTML5" nowrap>{{ parseBytes(form.item?.file?.size)}}</td>
            <td *ngIf="uploader.options.isHTML5">
              <progress 
                class="progress" 
                [value]="form.item.progress"
                style="margin-top: 5px"
                max="100"></progress>
            </td>
            <td>
              <div class="control">
                <div class="select is-small">
                  <select [(ngModel)]="form.lang">
                    <option *ngFor="let l of languages" [value]="l.abbrev">{{l.name}}</option>
                  </select>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
      </table>
    </div>

    <div class="field">
      <p class="control"></p>
    </div>
    <button class="button is-block is-info"
      (click)="uploadFile()"
      *ngIf="uploader.queue?.length != 0">
      {{translations.submit}}
    </button>
  </div>

  <div class="card-content" *ngIf="useLattes">
    <div class="file is-dark has-name">
      <label class="file-label">
        <input class="file-input" id="myfile" name="files[]" type="file" accept=".xml">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-file-code"></i>
          </span>
          <span class="file-label">
            {{translations.load_lattes}}
          </span>
        </span>
      </label>
    </div>

    <div class="file is-primary has-name"
         style="margin-top: 10px; margin-bottom: 10px"
          *ngIf="lattesFiles.length != 0">
      <label class="file-label">
        <input class="file-input" type="file" accept="application/pdf"
                ng2FileSelect [uploader]="uploader" multiple>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            {{translations.choose}}
          </span>
        </span>
      </label>
    </div>

    <div class="content" *ngFor="let form of fileForms">
      <hr>

      <div class="field is-expanded">
        <div class="control">
          <div class="select">
            <select [ngModel]="form.name" (ngModelChange)="lattesChanged($event, form)">
              <option [ngValue]="l" *ngFor="let l of lattesFiles">
                {{l.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="field" style="margin-top: 3px">
          <b>{{form.lattes ? translations.keywords + ': ' : ''}}</b>
          {{form.lattes?.keywords?.join(', ') || ''}}
        </div>
      </div>

      <table class="table is-fullwidth">
          <thead>
          <tr>
            <th width="50%">{{translations.name}}</th>
            <th>{{translations.size}}</th>
            <th>{{translations.progress}}</th>
            <th>{{translations.lang}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><strong>{{ form.item?.file?.name }}</strong></td>
            <td *ngIf="uploader.options.isHTML5" nowrap>{{ parseBytes(form.item?.file?.size)}}</td>
            <td *ngIf="uploader.options.isHTML5">
              <progress class="progress" value="{{form.item.progress}}" max="100"></progress>
            </td>
            <td>
              <div class="control">
                <div class="select is-small">
                  <select [(ngModel)]="form.lang">
                    <option *ngFor="let l of languages" [value]="l.abbrev">{{l.name}}</option>
                  </select>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
      </table>

      <div class="field">
        <p class="control"></p>
      </div>
      <button class="button is-block is-info"
        (click)="uploadFile()"
        *ngIf="uploader.queue?.length != 0">
        {{translations.submit}}
      </button>
    </div>
  </div>
</div>
