<div class="card events-card">
  <header class="card-header">
    <p class="card-header-title">
      {{translations.your_docs}}
    </p>
  </header>

  <div class="card-table">
    <div class="content" style="padding-left: 10px">
      <ng-template #switchTemplate let-data="data">
        <ui-switch
          [(value)]="data.row.public_"
          (onValueChanged)="update(data.row)">
        </ui-switch>
      </ng-template>

      <ng-template #btnsTemplate let-data="data">
        <div style="display: flex; flex-direction: row; justify-content: start">
          <ui-button 
            style="margin-right: 5px"
            [stylingMode]="'is-outlined'"
            [icon]="'fa-eye'" [title]="translations.show"
            (onClick)="selectFile(data.row.id)">
          </ui-button>
          <ui-button 
            [type]="'is-danger'" [stylingMode]="'is-outlined'"
            [icon]="'fa-times'" [title]="translations.del"
            (onClick)="deleteFile(data.row.id)">
          </ui-button>
        </div>
      </ng-template>

      <ui-table
        [dataSource]="files">
        <ui-column
          [caption]="translations.date"
          [displayExpr]="'creation'">
        </ui-column>

        <ui-column
          [caption]="translations.name"
          [displayExpr]="'name'">
        </ui-column>

        <ui-column
          [caption]="translations.pub"
          [displayExpr]="'public_'"
          [uiTemplate]="switchTemplate">
        </ui-column>

        <ui-column
          [caption]="'ID'"
          [displayExpr]="'id'"
          [uiTemplate]="btnsTemplate">
        </ui-column>
      </ui-table>

      <div class="card-content has-text-centered" *ngIf="files?.length == 0">
        {{translations.none_found}}
      </div>
    </div>
  </div>
</div>
