<div class="card">
  <header class="card-header">
    <div class="card-header-title" style="display: flex; justify-content: space-between;">
      <div> {{translations.your_notif}} </div>
      <small> 
        {{translations.relevance}}: 
        <span class="tag is-black" style="margin-left: 5px">{{translations.low}}</span>
        <span class="tag is-warning" style="margin-left: 5px">{{translations.medium}}</span>
        <span class="tag is-danger" style="margin-left: 5px">{{translations.high}}</span>
      </small>
    </div>
  </header>

  <div class="card-content">

    <article 
        *ngFor="let notif of notifications"
        [ngClass]="{'message': true, 'is-dark': notif.relevance == 0, 'is-warning': notif.relevance == 1, 'is-danger': notif.relevance == 2}">
      <div class="message-header">
          <p>{{notif.title}}</p>
        <span style="font-weight: normal">
          <small style="margin-right: 10px">{{translations.mark}}:</small>

          <label class="switch scaled">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </span>
      </div>
      <div class="message-body">
        <div class="message-head">
            <div>
              <span>
                <i class="fas fa-calendar-alt"></i>
                <small style="margin-left: 5px;">
                    {{getCreationDate(notif)}}
                </small>
              </span>
              <br>
              <span>
                <i class="fas fa-clock"></i>
                <small style="margin-left: 5px;">
                    {{getCreationTime(notif)}}
                </small>
              </span>
            </div>
            <div style="display: flex; flex-direction: column;">
              <small> <b> {{translations.sent_by}} {{notif.sender?.name || ''}}</b> </small>
              <small>({{notif.sender?.email || ''}})</small>
            </div>
        </div>
        <div style="margin-top: 10px;">
            {{notif.message}}
        </div>
      </div>
    </article>

    <div class="card-content has-text-centered" *ngIf="notifications.length == 0">
      {{translations.no_notif}}
    </div>
  </div>
</div>
