.card.has-text-centered {
  .card-content {
    justify-content: center;
    align-items: center;
  }
}

tbody {
    display: block;
    max-height: 300px;
    overflow: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}
  
thead {
   /* width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 5px;
}

.grid-container>div {
  padding: 5px 0;
}
