<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{this.translations.doc_search}}
    </p>
  </header>

  <div class="card-content">
    <div class="content">

      <div class="field is-grouped">
        <div class="control is-expanded">
          <input class="input" type="text"
                 [(ngModel)]="valueSearched"
                 placeholder="{{translations.search_for}}">
        </div>

        <div class="control field has-addons">
          <p class="control">
            <a class="button is-static">
              {{translations.by}}
            </a>
          </p>

          <div class="control">
            <ui-select
              [dataSource]="searchTypes"
              [(selected)]="selectedType">
            </ui-select>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-link" (click)="onSearch()">
              {{translations.submit}}
            </button>
          </div>
        </div>
      </div>

      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <label class="radio">
              <input type="radio" name="scope" [value]="false" [(ngModel)]="searchSystem">
              {{translations.search_files}}
            </label>
            <label class="radio">
              <input type="radio" name="scope" [value]="true" [(ngModel)]="searchSystem">
              {{translations.search_sys}}
            </label>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="card events-card">
  <header class="card-header">
    <p class="card-header-title">
      {{cardMessage}}
    </p>
  </header>
  <div class="card-table">
    <div class="content" style="padding-left: 10px; padding-right: 10px">
      <ng-template #selectBtn let-data="data">
        <a class="button is-small is-primary"
           (click)="selectFile(data.row.id)">
          <span> {{translations.show}} </span>
          <span class="icon is-small">
            <i class="fas fa-eye"></i>
          </span>
        </a>
      </ng-template>

      <ui-table
        [dataSource]="cardFiles">
        <ui-column
          [caption]="translations.name"
          [displayExpr]="'name'">
        </ui-column>

        <ui-column
          [caption]="''"
          [uiTemplate]="selectBtn"
          [cssStyle]="{'text-align': 'end'}">
        </ui-column>
      </ui-table>

      <div class="card-content has-text-centered" *ngIf="cardFiles.length == 0">
        {{searching ? translations.none_fits : translations.none_found }}
      </div>
    </div>
  </div>
</div>

<div class="content" style="margin-top: 25px">
  <h6>
    <!--@Refactor: translate this later -->
    Global Classification
  </h6>

  <div class="grid-container">
    <div *ngFor="let c of categories">
      {{c.key}}
    </div>
  </div>
</div>
