<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-white">{{translations.login}}</h3>
        <p class="subtitle has-text-white">{{translations.please}}</p>
        <div class="box">
          <figure class="avatar">
            <img src="./assets/default-photo.png">
          </figure>

          <form (ngSubmit)="doLogin()" #loginForm="ngForm">
            <div class="field">
              <div class="control has-icons-left">
                <input
                  class="input"
                  email="true"
                  placeholder="{{translations.your_email}}"
                  [(ngModel)]="email"
                  name="email"
                  [disabled]="loading"
                  autofocus required>

                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <div class="control has-icons-left">
                <input
                  class="input"
                  type="password"
                  placeholder="{{translations.your_pw}}"
                  [(ngModel)]="password"
                  name="password"
                  [disabled]="loading"
                  required>

                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>

            <p class="help is-danger" *ngIf="loginError && email == ''">
              {{translations.wrong}}
            </p>

            <div class="field">
              <!-- TODO Remove this checkbox - The remember-me functionality is not necessary -->
              <ui-checkbox
                [disabled]="loading"
                [text]="translations.remember">
              </ui-checkbox>
            </div>

            <button
              [disabled]="loading"
              [ngClass]="{'button is-block is-info is-fullwidth': true, 'is-loading': loading}"
              type="submit">
              {{translations.login}}
            </button>
          </form>
        </div>

        <p class="has-text-white">
          <a href="register">{{translations.signup}}</a> &nbsp;·&nbsp;
          <a (click)="userLogin()">{{translations.forgot}}</a> &nbsp;·&nbsp;
          <a (click)="adminLogin()">{{translations.help}}</a>
        </p>

      </div>
    </div>
  </div>
</section>

<nav class="floating-menu">
  <ui-select
    [dataSource]="languages"
    [cssClass]="{'is-small': true}"
    [(selected)]="selectedLang"
    (onChanged)="langChanged($event)">
  </ui-select>
</nav>
