<!-- START NAV -->
<div class="columns">
  <div class="column is-2">
    <ui-sidebar [items]="items" (onSelect)="selectMenu($event)"></ui-sidebar>
  </div>

  <div class="column is-10">
    <ui-title>
      <span class="ui-titled"> {{this.translations.hello}}, {{name}}</span>
      <span class="ui-subtitled"> {{this.translations.greetings}} </span>
    </ui-title>

    <div *ngIf="selected == 0">
      <app-user-home
        [files]="files"
        (onSelect)="selectFile($event)">
      </app-user-home>
    </div>

    <div *ngIf="selected == 1">
      <app-user-add-doc></app-user-add-doc>
    </div>

    <div *ngIf="selected == 2">
      <app-user-doc-list
        [files]="files"
        (onSelect)="selectFile($event)"
        (onDelete)="deleteFile($event)"
        (onUpdate)="updateFile($event)">
      </app-user-doc-list>
    </div>

    <div *ngIf="selected == 3">
      <app-notification></app-notification>
    </div>

    <div *ngIf="selected == 4">
      <app-report></app-report>
    </div>

</div>

<div *ngIf="file_selected != null">
  <app-user-doc-info
    [selected]="file_selected"
    [(show)]="showDocInfo"
  ></app-user-doc-info>
</div>
