<div [ngClass]="{'modal': true, 'is-active': showModal}">
  <div class="modal-background"></div>

  <div class="modal-card" style="max-height: 98%; width: 97%">
    <header class="modal-card-head">
      <div class="modal-card-title">
        <h1 class="title is-4">
          {{translations.info}}
        </h1>
        <h2 class="subtitle is-6">
          {{translations.for_}} <b>{{_selected.name}}</b>
        </h2>
      </div>

      <button class="delete" aria-label="close" (click)="dismiss()"></button>
    </header>
    <section class="modal-card-body">
      <div class="card-content">
        <div>
          <div class="content">
            <h4>
              {{translations.sug_keywords}}
            </h4>

            <span class="tag is-dark" style="margin-right: 2px" *ngFor="let keyword of _selected.given_keywords">
              {{keyword.word}}
            </span>
          </div>

          <div class="content">
            <h4>
              {{translations.gen_keywords}}
            </h4>

            <div class="field is-grouped is-grouped-multiline">
            
              <div class="control" style="margin-right: 2px" *ngFor="let keyword of _selected.keywords">
                <div class="tags has-addons">

                  <span class="tag is-link">{{keyword.word}}</span>
                  <div class="tag is-light"><b>{{keyword.count}}</b></div>
                </div>
              </div>

            </div>

            <!-- <div
              AgWordCloud
              #word_cloud_chart=ag-word-cloud
              [wordData]="wordData"
              [options]="wordOpt">
            </div> -->
            <angular-tag-cloud
              [data]="wordData"
              [width]="500"
              [height]="500"
              [overflow]="false">
            </angular-tag-cloud>
          </div>

          <div class="content">
            <h4>
              {{translations.classification}}
            </h4>

            <div class="grid-container">
              <div *ngFor="let c of categories">
                {{c.key}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <footer class="modal-card-foot">
      <i [ngClass]="['fas', _selected.public_ ? 'fa-lock-open' : 'fa-lock']"></i>
      <h4 class="is-size-7" style="margin-left: 10px">
        {{translations.created_in}} {{selectedDate()}}
      </h4>
    </footer>
  </div>
</div>
