<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{translations.rep_issue}}
    </p>
  </header>

  <div class="card-content">

    <div class="field">
      <label class="label">{{translations.title}}</label>
      <div class="control">
      <input class="input" type="text" placeholder="{{translations.title_holder}}" [(ngModel)]="title">
      </div>
    </div>

    <div class="field">
      <label class="label">{{translations.message}}</label>
      <div class="control">
      <textarea class="textarea" placeholder="{{translations.msg_holder}}" [(ngModel)]="message">
        </textarea>
      </div>
    </div>

    <div class="field">
      <label class="label">{{translations.relevance}}</label>
      <div class="control">
        <label class="radio">
          <input type="radio" name="relevance" [value]="0" [(ngModel)]="relevanceLevel">
          {{translations.low}}
        </label>
        <label class="radio">
          <input type="radio" name="relevance" [value]="1" [(ngModel)]="relevanceLevel">
          {{translations.medium}}
        </label>
        <label class="radio">
          <input type="radio" name="relevance" [value]="2" [(ngModel)]="relevanceLevel">
          {{translations.high}}
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-link" (click)="onSubmit()">
          {{translations.submit}}
        </button>
      </div>
    </div>

  </div>
</div>
