<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent" *ngFor="let s of status;">
      <article class="tile is-child box">
        <p class="title">{{s.amount}}</p>
        <div class="subtitle">
          <span class="icon is-small">
            <i ngClass="['fas', s.icon]"></i>
          </span>
          <span style="margin-left: 5px;">{{s.info}}</span>
        </div>
      </article>
    </div>
  </div>
</section>

<div class="columns">

  <div class="column is-6">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          {{translations.notifications}}
        </p>
        <a class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down"></i>
          </span>
        </a>
      </header>

      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth is-striped">
            <tbody>
              <tr *ngFor="let notif of notifications">
                <td>
                  <i class="fas fa-bell"></i>
                </td>
                <td>{{notif.title}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item">{{translations.view_all}}</a>
      </footer>
    </div>
  </div>

  <div class="column is-6">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{translations.user_search}}
        </p>
      </header>

      <div class="card-content">
        <div class="content">
          <div class="control has-icons-left">
            <input [(ngModel)]="searched" (ngModelChange)="onSearch($event)" class="input is-medium" type="text" placeholder="{{translations.quick_search}}">
            <span class="icon is-medium is-left">
              <i class="fas fa-search"></i>
            </span>
          </div>
  

          <div class="card-table" style="margin-top: 5px">
            <div class="content">
              <table class="table is-fullwidth is-striped" *ngIf="filteredUsers.length">
                <thead>
                  <tr>
                    <th>{{translations.name}}</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of filteredUsers">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="card-content has-text-centered" *ngIf="filteredUsers.length == 0">
                {{translations.no_data}}
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
